<h2>Movie:{{title}} Details</h2>
<p>
    Title : {{title}}<br />
    Genre : {{genre}}<br />
    Plot : {{plot}}<br />
</p>
{{#each cast}}
<p>Cast:<br />
    <br />
    Celebrity Name : {{name}}<br />
    Occupation : {{occupation}}<br />
    CatchPhrase : {{catchPhrase}}<br />
</p>
{{/each}}
<form action="/movies/{{_id}}/delete" method="POST">
    <button>Delete</button>
</form>